<h1>Device List</h1>

<!-- Logout Button -->
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<ul>
    {% for device in devices %}
        <li>
            <strong>ID:</strong> {{ device.user_device_id }} - <strong>Name:</strong> {{ device.devicename }} - <strong>Owner:</strong> {{ device.owner }}
            <!-- Button to delete the device -->
            <form action="{% url 'delete_device' device.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            <!-- Button to view device details -->
            <a href="{% url 'device_details' device.user_device_id %}">
                <button>View Details</button>
            </a>
        </li>
    {% endfor %}
</ul>

<!-- Button to add a new device -->
<a href="{% url 'add_device' %}">
    <button>Add a New Device</button>
</a>

